body {
	background-color: black;
}

h1 {
	font-size: 120%;
	color: white;
	text-align: center;
	letter-spacing: 6px;
	font-weight: normal;
}

table {
	margin: auto;
}

td {
	padding: 0;
}

img {
	width: 320px;
	height: 240px;
}

#container, video {
	width: 320px;
	height: 240px;
	padding: 0;
	margin: 0;
}
